<p-card>
    <p-splitter [style]="{'height': '600px'}" [panelSizes]="[30,70]">
        <ng-template pTemplate>
            <img *ngIf="movie.poster" [style]="{'width': '100%'}" src="https://image.tmdb.org/t/p/original/{{movie.poster}}" [alt]="movie.title"/>
        </ng-template>
        <ng-template pTemplate>
            <div class="p-3">
                <h1>{{movie.title}}</h1>
                <div>
                    {{movie.overview}}
                </div>
                <div class="mt-3">
                    <p-rating [(ngModel)]="movie.vote" [cancel]="false" [readonly]="true" [stars]="10"></p-rating>
                </div>
                <div class="mt-3" *ngIf="movie.productionCountries.length">
                    <h2>Production Countries</h2>
                    <ul>
                       <li *ngFor="let country of movie.productionCountries">{{country.name}} - ({{country.iso}})</li> 
                    </ul>
                </div>
                <div class="mt-3" *ngIf="movie.spokenLanguages.length">
                    <h2>Spoken Languages</h2>
                    <ul>
                        <li *ngFor="let language of movie.spokenLanguages" class="flex align-items-center mb-2">
                            <img alt="Language" width="30" src='https://unpkg.com/language-icons/icons/{{language.iso}}.svg' /> <span class="ml-2">({{language.name}})</span>
                        </li>
                    </ul>
                </div>
            </div>
        </ng-template>
    </p-splitter>
</p-card>

<p-blockUI [blocked]="isLoading">
    <p-progressSpinner strokeWidth="2" animationDuration=".5s"></p-progressSpinner>
</p-blockUI>